<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name= "ConnectionString" connectionString= "Data Source=192.168.0.218;Initial Catalog=Tiger_SOI_ADD;User ID=sa;Password=Password01!" providerName= "System.Data.SqlClient "/>
  </connectionStrings>
</configuration>